* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v108_1324 {
  width: 100%;
  height: 2470px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v108_1325 {
  width: 100%;
  height: 1074px;
  background: url("../images/v108_1325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 4px;
  overflow: hidden;
}
.v108_1327 {
  width: 100%;
  height: 1074px;
  background: url("../images/v108_1327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v108_1326 {
  width: 100%;
  height: 100%;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v108_1328 {
  width: 100%;
  height: 100%;
  background: url("../images/v108_1328.png");
  opacity: 0.699999988079071;
  position: absolute;
  top: 0px;
  left: 478px;
}
.v108_1465 {
  width: 495px;
  height: 241px;
  background: url("../images/v108_1465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 149px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5299999713897705);
  overflow: hidden;
}
.v108_1466 {
  width: 495px;
  height: 241px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v108_1467 {
  width: 495px;
  color: rgba(80,95,152,1);
  position: absolute;
  top: 152px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v108_1468 {
  width: 495px;
  color: rgba(9,17,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v108_1475 {
  width: 248px;
  height: 119px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 596px;
  overflow: hidden;
}
.v714_1001 {
  width: 155px;
  height: 155px;
  background: url("../images/v714_1001.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 47px;
  overflow: hidden;
}
.v108_1477 {
  width: 100%;
  height: 64px;
  background: url("../images/v108_1477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v108_1478 {
  width: 100%;
  height: 60px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v108_1479 {
  width: 150px;
  height: 46px;
  background: url("../images/v108_1479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1244px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
.v714_1003 {
  width: 46px;
  height: 46px;
  background: url("../images/v714_1003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v714_1004 {
  width: 46px;
  height: 46px;
  background: url("../images/v714_1004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  overflow: hidden;
}
.v108_1609 {
  width: 100%;
  height: 742px;
  background: url("../images/v108_1609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1110px;
  left: 0px;
  overflow: hidden;
}
.v108_1610 {
  width: 100%;
  height: 742px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v108_1611 {
  width: 100%;
  height: 742px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v714_1005 {
  width: 532px;
  height: 399px;
  background: url("../images/v714_1005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 743px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.38999998569488525);
  overflow: hidden;
}
.v108_1743 {
  width: 540px;
  height: 204px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 165px;
  overflow: hidden;
}
.v108_1744 {
  width: 540px;
  color: rgba(111,124,178,1);
  position: absolute;
  top: 64px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v108_1745 {
  width: 540px;
  color: rgba(9,17,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v108_1746 {
  width: 100%;
  height: 546px;
  background: url("../images/v108_1746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1852px;
  left: 0px;
  overflow: hidden;
}
.v108_1747 {
  width: 100%;
  height: 546px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v108_1748 {
  width: 421px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 510px;
  overflow: hidden;
}
.v714_1009 {
  width: 421px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v108_1750 {
  width: 421px;
  color: rgba(9,17,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v715_1015 {
  width: 209px;
  height: 209px;
  background: url("../images/v715_1015.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 1052px;
  overflow: hidden;
}
.v715_1016 {
  width: 209px;
  height: 209px;
  background: rgba(231,236,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v715_1017 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v715_1012 {
  width: 128px;
  height: 128px;
  background: url("../images/v715_1012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 41px;
  overflow: hidden;
}
.v715_1023 {
  width: 209px;
  height: 209px;
  background: url("../images/v715_1023.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 761px;
  overflow: hidden;
}
.v715_1024 {
  width: 209px;
  height: 209px;
  background: rgba(231,236,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v715_1025 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v715_1013 {
  width: 128px;
  height: 128px;
  background: url("../images/v715_1013.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 41px;
  overflow: hidden;
}
.v715_1031 {
  width: 209px;
  height: 209px;
  background: url("../images/v715_1031.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 470px;
  overflow: hidden;
}
.v715_1032 {
  width: 209px;
  height: 209px;
  background: rgba(231,236,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v715_1033 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v715_1014 {
  width: 128px;
  height: 128px;
  background: url("../images/v715_1014.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 41px;
  overflow: hidden;
}
.v715_1035 {
  width: 209px;
  height: 209px;
  background: url("../images/v715_1035.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 179px;
  overflow: hidden;
}
.v715_1036 {
  width: 209px;
  height: 209px;
  background: rgba(231,236,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v715_1037 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v715_1038 {
  width: 128px;
  height: 128px;
  background: url("../images/v715_1038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 41px;
  overflow: hidden;
}
.v108_1798 {
  width: 100%;
  height: 72px;
  background: url("../images/v108_1798.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2398px;
  left: 0px;
  overflow: hidden;
}
.v108_1799 {
  width: 100%;
  height: 72px;
  background: rgba(231,236,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v108_1803 {
  width: 138px;
  color: rgba(147,158,164,1);
  position: absolute;
  top: 24px;
  left: 165px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v108_1808 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1259px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v108_1828 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1222px;
  overflow: hidden;
}
.v108_1829 {
  width: 8px;
  height: 16px;
  background: rgba(176,184,188,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
}
.v108_1831 {
  width: 79px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2410px;
  left: 680px;
  overflow: hidden;
}
.v714_1006 {
  width: 58px;
  height: 58px;
  background: url("../images/v714_1006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
