:root {
    --primary-color: #83bce2;
  }

/* Navbar */
.MAKERS-NAVIGATION {
    display: flex;
    width: 100%;
    height: 94px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff;
  }
  
  .MAKERS-NAVIGATION .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    position: relative;
    margin: 0 auto;
  }
  
  .MAKERS-NAVIGATION .left {
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
  }
  
  .MAKERS-NAVIGATION .icon img {
    height: 120px; 
    width: auto; 
  }
  

/*sezione galleria*/

.fullscreen-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  text-align: center;
}

#fullscreen-img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-btn {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .foto .intestazione {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px 10px;
    padding: 0px 40px 40px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }
  
  .foto .container {
    align-items: flex-start;
    padding: 37px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .foto .txt-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .foto .titolo {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .foto .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0px 0px;
    padding: 0px 0px 64px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .foto .features-grid-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .foto .features-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .foto .media-objects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .foto .media-container {
    display: flex;
    flex-direction: column;
    width: 340px;
    align-items: center;
    gap: 10px;
    padding: 24px;
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 16px #0000001a;
  }
  
  .foto .MEDIA-OBJECT {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .foto .media {
    position: relative;
    width: 292px;
    height: 243px;
    background-color: var(--primary-color);
    border-radius: 6px;
  }

  .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  /*footer*/
.MAKERS-FOOTER {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #ffffff;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: 0;
  }
  
  .MAKERS-FOOTER .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
    flex: 0 0 auto;
  }
  
  .MAKERS-FOOTER .copyright {
    display: flex;
    width: 500px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding-left: 15px;
  }
  
  .MAKERS-FOOTER .text-wrapper {
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #678398;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .MAKERS-FOOTER .social-media {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    align-self: stretch;
    padding-right: 15px;
  }
  
  .MAKERS-FOOTER .MAKERS-SOCIAL-MEDIA {
    width: 24px;
    height: 24px;
  }
  
  .ppcptc {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
    flex: 1 1 calc(50% - 10px);
    margin: 5px;
    flex-wrap: wrap;
  }
  