:root {
  --primary-color: #83bce2;
  --grey-color: rgb(54, 54, 54);
}

body{
  margin: 0%;
}

.menu {
  display: flex;
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 0 25px;
  flex-direction: column;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

span{
  margin: 3px;
  background-color: #ffffff;
  width: 25px;
  height: 1px;
}

/* Navbar */
.MAKERS-NAVIGATION {
  display: flex;
  width: 100%;
  height: 94px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var( --grey-color);
  border-bottom: solid gold 2px;
}

.MAKERS-NAVIGATION .container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  position: relative;
  margin: 0 auto;
}

.MAKERS-NAVIGATION .left {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
}

.MAKERS-NAVIGATION .icon img {
  height: 120px; 
  width: auto; 
}

/*hero*/
.MAKERS-MAIN {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    position: relative;
    background-color: #ffffff;
    margin-top: 25px;
}

.MAKERS-MAIN .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--primary-color);
    border-radius: 25px;
    border: solid gold 1px;
    padding: 10px 0 10px 0;
  }

.MAKERS-MAIN .text-side {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    gap: 24px;
    padding: 10px;
    position: relative;
}

.MAKERS-MAIN .MAKERS-TEXT-CONTENT {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.MAKERS-MAIN .learn-how-to-make {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.MAKERS-MAIN .makers-is-a-figma {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #0a2942;
    font-size: 23px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}

.MAKERS-MAIN .image-side {
    display: flex;
    width: 65%;
    height: 519px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.MAKERS-MAIN .image {
  position: relative;
  flex: 1;
  align-self: stretch;
  background-image: url(img/hro.png);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 25px;
  border: solid gold 1px;
  margin: 4px;
}

/*story*/
.MAKERS-STORY {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
}

.MAKERS-STORY .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px 24px;
  padding: 20px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.MAKERS-STORY .text-side {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: flex-start;
  gap: 24px;
  padding: 10px;
  position: relative;
}

.MAKERS-STORY .MAKERS-TEXT-CONTENT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.MAKERS-STORY .learn-how-to-make {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 58px;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-STORY .makers-is-a-figma {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

/*cta*/
.MAKERS-FEATURES {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 40px;
}

.MAKERS-FEATURES .content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.MAKERS-FEATURES .content {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.MAKERS-FEATURES .features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.MAKERS-FEATURES .media-objects {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
}

.MAKERS-FEATURES .text-wrapper {
  position: relative;
  align-self: center;
  margin: 16px 0 40px 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-FEATURES .MAKERS-MEDIA-OBJECT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.MAKERS-FEATURES .media {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primary-color);
  border-radius: 6px;
  border: solid gold 1px;
}

.MAKERS-FEATURES .media img {
  vertical-align: middle;
}

.MAKERS-FEATURES .MAKERS-SOCIAL-MEDIA {
  position: relative;
  width: 75px;
  height: 75px;
}

.MAKERS-FEATURES .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  gap: 15px;
}

.MAKERS-FEATURES .div {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 24px;
}

.MAKERS-FEATURES .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  letter-spacing: 0;
  font-size: 20px;
}

.MAKERS-FEATURES .call-to-action {
  position: relative;
  align-self: stretch;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0249ff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

/*footer*/
.MAKERS-FOOTER {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var( --grey-color);
  left: 0;
  right: 0;
  z-index: 999;
  bottom: 0;
}

.MAKERS-FOOTER .container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  flex: 0 0 auto;
}

.MAKERS-FOOTER .copyright {
  display: flex;
  width: 500px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding-left: 15px;
}

.MAKERS-FOOTER .text-wrapper {
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #678398;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-FOOTER .social-media {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  align-self: stretch;
  padding-right: 15px;
}

.MAKERS-FOOTER .MAKERS-SOCIAL-MEDIA {
  width: 24px;
  height: 24px;
}

.ppcptc {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
  flex: 1 1 calc(50% - 10px);
  margin: 5px;
  flex-wrap: wrap;
}

/*tab###########################################################*/
@media screen and (max-width: 1061px) {
/* Navbar */
.MAKERS-NAVIGATION {
  width: 100%;
  display: flex;
  gap: 0px 0px;
  position: relative;
  background-color: var( --grey-color);
}

.MAKERS-NAVIGATION .left {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.MAKERS-NAVIGATION .icon img {
  position: relative;
  height: 120px; 
  width: auto; 
}

/*hero*/
.MAKERS-MAIN {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 0px 0px;
  padding: 0px 20px;
  position: relative;
  background-color: #ffffff;
}

.MAKERS-MAIN .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 10px 0 10px 0;
}

.MAKERS-MAIN .text-side {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  gap: 24px;
  padding: 10px;
  position: relative;
}

.MAKERS-MAIN .MAKERS-TEXT-CONTENT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.MAKERS-MAIN .learn-how-to-make {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-MAIN .makers-is-a-figma {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.MAKERS-MAIN .image-side {
  display: flex;
  width: 90%;
  height: 519px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.MAKERS-MAIN .image {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-image: url(img/hro.png);
  background-size: cover;
  background-position: 50% 50%;
}

/*story*/
.MAKERS-STORY {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  padding: 0px 20px;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
}

.MAKERS-STORY .container {
  padding: 20px 20px;
}

.MAKERS-STORY .text-side {
  width: 100%;
  padding: 10px;
}

.MAKERS-STORY .MAKERS-TEXT-CONTENT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -11px;
}

.MAKERS-STORY .learn-how-to-make {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-STORY .makers-is-a-figma {
  font-size: 25px;
  line-height: 34.5px;
}

/*cta*/
.MAKERS-FEATURES {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  position: relative;
}

.MAKERS-FEATURES .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -20.5px;
  margin-bottom: -20.5px;
  background-color: #ffffff;
}

.MAKERS-FEATURES .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 64px 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.MAKERS-FEATURES .features-grid {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px 16px;
  position: relative;
  width: 90%;
  flex: 0 0 auto;
}

.MAKERS-FEATURES .media-objects {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.MAKERS-FEATURES .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.MAKERS-FEATURES .MAKERS-MEDIA-OBJECT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.MAKERS-FEATURES .media {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primary-color);
  border-radius: 6px;
}

.MAKERS-FEATURES .MAKERS-SOCIAL-MEDIA {
  position: relative;
  width: 54px;
  height: 54px;
}

.MAKERS-FEATURES .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.MAKERS-FEATURES .div {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.MAKERS-FEATURES .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.MAKERS-FEATURES .call-to-action {
  position: relative;
  align-self: stretch;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0249ff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

/*footer*/
.MAKERS-FOOTER {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var( --grey-color);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.MAKERS-FOOTER .container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  flex: 0 0 auto;
}

.MAKERS-FOOTER .copyright {
  display: flex;
  width: 500px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding-left: 15px;
}

.MAKERS-FOOTER .text-wrapper {
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #678398;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-FOOTER .social-media {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  align-self: stretch;
  padding-right: 15px;
}

.MAKERS-FOOTER .MAKERS-SOCIAL-MEDIA {
  width: 24px;
  height: 24px;
}

.ppcptc {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
  flex: 1 1 calc(50% - 10px);
  margin: 5px;
  flex-wrap: wrap;
}

}

/*mobile#######################################################*/
@media screen and (max-width: 650px) {
  /* Navbar */
.MAKERS-NAVIGATION {
  width: 100%;
  display: flex;
  gap: 0px 0px;
  position: relative;
  background-color: var( --grey-color);
}

.MAKERS-NAVIGATION .left {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.MAKERS-NAVIGATION .icon img {
  position: relative;
  height: 120px; 
  width: auto; 
}

/*hero*/
.MAKERS-MAIN {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 0px 0px;
  padding: 0px 20px;
  position: relative;
  background-color: #ffffff;
}

.MAKERS-MAIN .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 10px 0 10px 0;
}

.MAKERS-MAIN .text-side {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  gap: 24px;
  padding: 10px;
  position: relative;
}

.MAKERS-MAIN .MAKERS-TEXT-CONTENT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
}

.MAKERS-MAIN .learn-how-to-make {
  position: relative;
  align-self: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-MAIN .makers-is-a-figma {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.MAKERS-MAIN .image-side {
  display: none;
}

/*story*/
.MAKERS-STORY {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  padding: 0px 20px;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
}

.MAKERS-STORY .container {
  gap: 16px 16px;
}

.MAKERS-STORY .text-side {
  width: 100%;
  padding: 10px;
}

.MAKERS-STORY .MAKERS-TEXT-CONTENT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.MAKERS-STORY .learn-how-to-make {
  font-size: 32px;
}

.MAKERS-STORY .makers-is-a-figma {
  font-size: 23px;
  line-height: 30px;
}

/*cta*/
.MAKERS-FEATURES {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  position: relative;
  flex-direction: column;
}

.MAKERS-FEATURES .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
}

.MAKERS-FEATURES .content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  padding: 64px 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.MAKERS-FEATURES .features-grid {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    flex: 1 1 0%;
    margin: auto;
    flex-direction: row;
  }

.MAKERS-FEATURES .media-objects {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px 32px;
  position: relative;
}

.MAKERS-FEATURES .text-wrapper {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-FEATURES .div {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -70px;
}

.MAKERS-FEATURES .MAKERS-MEDIA-OBJECT {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.MAKERS-FEATURES .media {
  display: flex;
  width: 100%;
  height: 198px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 6px;
}

.MAKERS-FEATURES .MAKERS-SOCIAL-MEDIA {
  position: relative;
}

.MAKERS-FEATURES .p {
 display: none;
}

.MAKERS-FEATURES .call-to-action {
display: none;
}

/*footer*/
.MAKERS-FOOTER {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var( --grey-color);
  left: 0;
  right: 0;
  z-index: 999;
  bottom: 0;
}

.MAKERS-FOOTER .container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  flex: 0 0 auto;
}

.MAKERS-FOOTER .copyright {
  display: flex;
  width: 500px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding-left: 15px;
}

.MAKERS-FOOTER .text-wrapper {
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #678398;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.MAKERS-FOOTER .social-media {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  align-self: stretch;
  padding-right: 15px;
}

.MAKERS-FOOTER .MAKERS-SOCIAL-MEDIA {
  width: 24px;
  height: 24px;
}

.ppcptc {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
  flex: 1 1 calc(50% - 10px);
  margin: 5px;
  flex-wrap: wrap;
}

}

/*PAGINA CONTATTI*/
.contatti {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contatti .intestazione {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px 10px;
  padding: 0px 40px 40px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.contatti .container {
  align-items: flex-start;
  padding: 15px 0px 0px;
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.contatti .txt-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.contatti .titolo {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.contatti .descrizione {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0;
  line-height: 34.5px;
}

.contatti .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  padding: 0px 0px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.contatti .features-grid-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.contatti .features-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.contatti .media-objects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 32px;
  flex: 1;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.contatti .media-container {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 200px;
  gap: 10px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 16px #0000001a;
  align-items: center;
  position: relative;
}

.contatti .MEDIA-OBJECT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.contatti .media {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  flex: 0 0 auto;
  background-color: var(--primary-color);
  border-radius: 6px;
  align-items: center;
  position: relative;
}

.contatti .MEDIA-ICONS {
  position: relative;
  width: 24px;
  height: 24px;
}

.contatti .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.contatti .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.contatti .div {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

/*sezione servizi*/
.servizi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.servizi .intestazione {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.servizi .titolo {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.servizi .descrizione {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.5px;
}

.servizi .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 40px;
  padding: 23px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.servizi .media-container {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 280px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px;
  position: relative;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 16px #0000001a;
}

.servizi .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.servizi .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 24px;
}

.servizi .div {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}